* {
  padding: 0px;
  margin: 0px;
  font-family: "Spartan", sans-serif;
}

.slider-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 15rem;
}

.slider__content h1 {
  width: 450px;
  margin-top: 100px;
  margin-left: 100px;
  font-weight: 700;
}

.slider__content p {
  max-width: 450px;
  margin-top: 15px;
  margin-left: 100px;
  font-size: 12px;
  line-height: 2;
  color: hsl(0, 0%, 63%);
}

.about-us-container {
  display: flex;
  flex-direction: row;
  column-gap: 8rem;
}

.about__us__content {
  margin-top: 2.5rem;
  justify-content: flex-start;
}

.about__us__content p {
  width: 100%;
  margin-top: 15px;
  font-size: 12px;
  margin-left: 0;
  line-height: 2;
  color: hsl(0, 0%, 63%);
}

.about-us-container img {
  object-fit: contain;
  width: 32vw;
}
.navbar {
  position: absolute;
  top: 50px;
  z-index: 1;
}

.navbar-brand {
  margin-left: 50px;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: 50px;
  z-index: 1;
}

.navbar-nav {
  margin-left: 200px;
}

.nav-item {
  cursor: pointer;
  margin-left: 30px;
  font-size: 12px;
  font-weight: 100;
  transition: ease-out 0.5ms 0.1s;
}

.nav-item:hover {
  color: white;
  border-bottom: 2px solid white !important;
}

.nav-link,
.navbar-brand {
  color: white;
}

.shop-now {
  display: block;
  color: hsl(0, 0%, 0%);
  font-size: 12px;
  font-weight: 600;
  margin-top: 35px;
  letter-spacing: 8px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.carousel-control-prev,
.carousel-control-next {
  background: black;
  width: 4rem;
  height: 4rem;
  margin-top: 24.5%;
}

.carousel-control-prev {
  margin-left: 44%;
}

.carousel-control-next {
  margin-right: 49%;
}

.hamburger__btn {
  display: none;
}

@media screen and (min-width: 200px) and (max-width: 475px) {
  #navbarNav,
  .navbar-brand {
    display: none;
  }
  .canvas__logo {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .offcanvas-header a {
    font-size: 40px;
    text-decoration: none;
  }

  #navbar-nav-mobile {
    margin-top: 1rem;
  }

  #navbar-nav-mobile .nav-item {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  #navbar-nav-mobile a {
    color: black;
    font-size: 12px;
  }
  .offcanvas-header a {
    color: black;
  }
  .hamburger__btn {
    box-shadow: none;
  }
  .navbar-nav {
    margin-left: 0;
  }

  .slider-container {
    position: relative;
  }
  .hamburger__btn {
    position: absolute;
    top: 1rem;
    z-index: 1;
  }
  .hamburger__btn img {
    object-fit: contain;
    width: 28px;
  }
  .mobile-slider img {
    object-fit: cover;
    width: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 79%;
  }

  .carousel-control-prev {
    margin-left: 69%;
  }

  .carousel-control-next {
    margin-right: 0;
  }

  .about-us-container img {
    object-fit: cover;
    width: 100%;
  }

  .about-us-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .about__us__content {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 3rem;
  }

  .about__us__content h3 {
    font-weight: 700;
  }
  .about__us__content p {
    text-align: center;
  }
  .slider__content {
    margin: 0 auto;
    width: 90%;
  }
  .slider__content h1,
  p {
    width: 90%;
    text-align: start;
  }

  .slider__content h1 {
    margin-top: 1rem;
    margin-left: 0;
    font-weight: 700;
  }

  .slider__content p {
    margin-left: 0;
    font-size: 12px;
    line-height: 2;
    color: hsl(0, 0%, 63%);
  }

  .image-about-light {
    margin-left: 0;
  }
  .desktop-slider {
    display: none;
  }
  .mobile-slider {
    display: block;
  }

  .slider-container {
    display: flex;
    flex-direction: column;
  }

  .shop-now {
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .about__us__content h3 {
    font-size: 14px;
  }

  .image-about-light {
    margin-left: 0px;
  }
  .navbar-brand {
    margin-left: 0%;
  }
}
.hamburger__btn {
  display: block;
}
@media screen and (min-width: 540px) and (max-width: 820px) {
  #navbarNav,
  .navbar-brand {
    display: none;
  }
  .canvas__logo {
    width: 100%;
    display: grid;
    place-items: center;
  }
  .offcanvas-header a {
    font-size: 40px;
    text-decoration: none;
  }

  #navbar-nav-mobile {
    margin-top: 1rem;
  }
  .hamburger__btn img {
    object-fit: contain;
    width: 28px;
  }

  .hamburger__btn {
    box-shadow: none;
  }
  #navbar-nav-mobile .nav-item {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  #navbar-nav-mobile a {
    color: black;
    font-size: 12px;
  }
  .offcanvas-header a {
    color: black;
  }

  .navbar-nav {
    margin-left: 0;
  }
  .hamburger__btn {
    position: absolute;
    top: 1rem;
    z-index: 1;
  }
  .about-us-container {
    display: block;
    margin-top: 4rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 30%;
  }

  .carousel-control-prev {
    margin-left: 0;
  }

  .carousel-control-next {
    margin-right: 0;
  }

  .image-about-light {
    margin-left: 0;
  }
  .about-us-container h3 {
    font-size: 14px;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .about-us-container p {
    padding-bottom: 2rem;
  }
  .about__us__content h3 {
    font-weight: 700;
  }
  .about-us-container p,
  h3 {
    width: 60%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .about-us-container img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  .hamburger__btn {
    display: block;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 25%;
  }

  .carousel-control-prev {
    margin-left: 0;
  }

  .carousel-control-next {
    margin-right: 0;
  }

  .slider__content p {
    margin-left: 0;
    width: 70%;
  }

  .slider__content h1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .about-us-container {
    column-gap: 1rem;
  }

  .slider-container {
    width: 60%;
    column-gap: 5rem;
  }

  .hamburger__btn {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hamburger__btn {
    display: none;
  }
}
